# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import pandas as pd

# Загрузка данных из файла recipes_sample.csv в DataFrame recipes
recipes = pd.read_csv('recipes_sample.csv')

# Загрузка данных из файла reviews_sample.csv в DataFrame reviews с корректным считыванием столбца с индексами
reviews = pd.read_csv('reviews_sample.csv', index_col=0)

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [2]:
# Для таблицы recipes
print("Основные параметры для таблицы recipes:")
print("Количество точек данных (строк):", recipes.shape[0])
print("Количество столбцов:", recipes.shape[1])
print("Тип данных каждого столбца:")
print(recipes.dtypes)

# Для таблицы reviews
print("\nОсновные параметры для таблицы reviews:")
print("Количество точек данных (строк):", reviews.shape[0])
print("Количество столбцов:", reviews.shape[1])
print("Тип данных каждого столбца:")
print(reviews.dtypes)

Основные параметры для таблицы recipes:
Количество точек данных (строк): 30000
Количество столбцов: 8
Тип данных каждого столбца:
name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

Основные параметры для таблицы reviews:
Количество точек данных (строк): 126696
Количество столбцов: 5
Тип данных каждого столбца:
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [3]:
# Нахождение столбцов с пропусками в таблице recipes
missing_columns_recipes = recipes.columns[recipes.isnull().any()]
# Доля строк с пропусками
missing_rows_ratio_recipes = recipes.isnull().any(axis=1).sum() / recipes.shape[0]

# Нахождение столбцов с пропусками в таблице reviews
missing_columns_reviews = reviews.columns[reviews.isnull().any()]
# Доля строк с пропусками
missing_rows_ratio_reviews = reviews.isnull().any(axis=1).sum() / reviews.shape[0]

print("Столбцы с пропусками в таблице recipes:")
print(missing_columns_recipes)
print("Доля строк с пропусками в таблице recipes:", missing_rows_ratio_recipes)

print("\nСтолбцы с пропусками в таблице reviews:")
print(missing_columns_reviews)
print("Доля строк с пропусками в таблице reviews:", missing_rows_ratio_reviews)

Столбцы с пропусками в таблице recipes:
Index(['n_steps', 'description', 'n_ingredients'], dtype='object')
Доля строк с пропусками в таблице recipes: 0.5684666666666667

Столбцы с пропусками в таблице reviews:
Index(['review'], dtype='object')
Доля строк с пропусками в таблице reviews: 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [4]:
mean_values_recipes = recipes.select_dtypes(include=['int', 'float']).mean() #для числовых столбцов в таблице recipes
mean_values_reviews = reviews.select_dtypes(include=['int', 'float']).mean() #для числовых столбцов в таблице reviews

print("\nСредние значения для числовых столбцов в таблице reviews:")
print(mean_values_reviews)
print("Средние значения для числовых столбцов в таблице recipes:")
print(mean_values_recipes)

Средние значения для числовых столбцов в таблице reviews:
user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64
Средние значения для числовых столбцов в таблице recipes:
id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [7]:
import random
random_recipe_names = recipes['name'].sample(10, random_state=1)
print(random_recipe_names)

10747                           fantastic banana fruitcake
12573                greek orzo salad w  kalamata and feta
29676                    yet   another tater tot casserole
8856                   crusty parmesan herb zucchini bites
21098                                     pomegranate duck
17458                     mexican chicken   bean casserole
1476                             avocado and tomatillo dip
5120     cheese and squeeze   cheddar and beef   biscui...
18338                            mushroom sesame tofu soup
28279    tuscan t  bone steak  or  bistecca alla fioren...
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [10]:
reviews.reset_index(drop=True, inplace=True)
reviews [:11]

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
5,35106,31322,2003-01-03,4,I forgot to add skim milk but it still tasted ...
6,404333,199579,2006-12-10,5,"Made this for dinner it was so excellent, fina..."
7,162888,16067,2005-12-09,5,"When I snapped the picture, I forgot to review..."
8,89831,33715,2007-07-03,5,This was good combination of flavors but I wil...
9,308434,11252,2008-12-14,5,Oh Bergy! These wonderful little cakes are aw...
10,151754,285773,2008-09-04,0,"This was a very moist cornbread, even two days..."

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [11]:
filtered_recipes = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
print(filtered_recipes)

                                                    name      id  minutes  \
28                                   quick biscuit bread  302399       20
60                         peas  fit for a king or queen  303944       20
90                     hawaiian sunrise           mimosa  100837        5
91            tasty dish s   banana pudding in 2 minutes  286484        2
94                                    1 minute meatballs   11361       13
...                                                  ...     ...      ...
29873  zip and steam red potatoes with butter and garlic  304922       13
29874                          ziplock vanilla ice cream   74250       10
29905                      zucchini and corn with cheese  256177       15
29980               zucchini with jalapeno monterey jack  320622       10
29983                          zucchini with serrano ham  162411       15

       contributor_id   submitted  n_steps  \
28             213909  2008-05-06     11.0
60             213909  2008-05-16      NaN
90              58104  2004-09-29      4.0
91              47892  2008-02-13      NaN
94               4470  2001-09-03      NaN
...               ...         ...      ...
29873          724218  2008-05-27      9.0
29874           24386  2003-10-29      8.0
29905          305531  2007-09-29      4.0
29980          305531  2008-08-20      3.0
29983          152500  2006-03-31      6.0

                                             description  n_ingredients
28     this is a wonderful quick bread to make as an ...            5.0
60     this recipe is so simple and the flavors are s...            5.0
90     pineapple mimosa was changed to hawaiian sunri...            3.0
91     "mmmm, i love bananas!" a --tasty dish-- origi...            4.0
94     this is a real short cut for cooks in a hurry....            2.0
...                                                  ...            ...
29873  i haven't tried this yet, but i am going to so...            5.0
29874  a fun thing for kids to do. may want to use mi...            3.0
29905  from betty crocker fresh spring recipes. i lik...            5.0
29980                                  simple and yummy!            3.0
29983  this dish is from tim malzer, a german chef wh...            5.0

[2019 rows x 8 columns]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [45]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])  # Преобразование столбца с датой в формат datetime

# Вывод первых строк DataFrame для проверки
print(recipes.head())

                                       name     id  minutes  contributor_id  \
0     George S At The Cove  Black Bean Soup  44123       90           35193
1        Healthy For Them  Yogurt Popsicles  67664       10           91970
2              I Can T Believe It S Spinach  38798       30            1533
3                      Italian  Gut Busters  35173       45           22724
4  Love Is In The Air  Beef Fondue   Sauces  84797       25            4470

   submitted  n_steps                                        description  \
0 2002-10-25      NaN  an original recipe created by chef scott meska...
1 2003-07-26      NaN  my children and their friends ask for my homem...
2 2002-08-29      NaN            these were so go, it surprised even me.
3 2002-07-27      NaN  my sister-in-law made these for us at a family...
4 2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients  description_length  name_word_count
0           18.0                 330                8
1            NaN                 255                5
2            8.0                  39                7
3            NaN                 154                3
4            NaN                 587                8

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [14]:
old_recipes = recipes[recipes['submitted'].dt.year <= 2010]
print(old_recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29993                     zuni caf zucchini pickles  316950     2895
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29993           62264 2008-07-31      NaN
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29993  refrigerator pickles for some of the zucchini ...            8.0
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[27661 rows x 8 columns]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [15]:
# Добавление столбца description_length с длиной описания рецепта
recipes['description_length'] = recipes['description'].apply(lambda x: len(str(x)))

# Вывод обновленной таблицы для проверки
print(recipes.head())

                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

   submitted  n_steps                                        description  \
0 2002-10-25      NaN  an original recipe created by chef scott meska...
1 2003-07-26      NaN  my children and their friends ask for my homem...
2 2002-08-29      NaN            these were so go, it surprised even me.
3 2002-07-27      NaN  my sister-in-law made these for us at a family...
4 2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients  description_length
0           18.0                 330
1            NaN                 255
2            8.0                  39
3            NaN                 154
4            NaN                 587

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [16]:
# Изменение названия каждого рецепта так, чтобы каждое слово начиналось с прописной буквы
recipes['name'] = recipes['name'].apply(lambda x: x.title())

# Вывод обновленной таблицы для проверки
print(recipes['name'])

0               George S At The Cove  Black Bean Soup
1                  Healthy For Them  Yogurt Popsicles
2                        I Can T Believe It S Spinach
3                                Italian  Gut Busters
4            Love Is In The Air  Beef Fondue   Sauces
                             ...
29995    Zurie S Holey Rustic Olive And Cheddar Bread
29996            Zwetschgenkuchen  Bavarian Plum Cake
29997     Zwiebelkuchen   Southwest German Onion Cake
29998                                     Zydeco Soup
29999          Cookies By Design   Cookies On A Stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [17]:
# Добавление столбца name_word_count с количеством слов в названии рецепта
recipes['name_word_count'] = recipes['name'].apply(lambda x: len(x.split()))

# Вывод обновленной таблицы для проверки
print(recipes[['name', 'name_word_count']].head())

                                       name  name_word_count
0     George S At The Cove  Black Bean Soup                8
1        Healthy For Them  Yogurt Popsicles                5
2              I Can T Believe It S Spinach                7
3                      Italian  Gut Busters                3
4  Love Is In The Air  Beef Fondue   Sauces                8

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [18]:
# Подсчет количества рецептов, представленных каждым участником
recipes_per_contributor = recipes['contributor_id'].value_counts()

# Определение участника, который добавил максимальное количество рецептов
max_recipes_contributor = recipes_per_contributor.idxmax()

print("Количество рецептов, представленных каждым участником:", recipes_per_contributor)
print("\nУчастник, который добавил максимальное количество рецептов (contributor_id):", max_recipes_contributor)

Количество рецептов, представленных каждым участником: contributor_id
89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: count, Length: 8404, dtype: int64

Участник, который добавил максимальное количество рецептов (contributor_id): 89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [33]:
# Расчет среднего рейтинга для каждого рецепта
average_rating_per_recipe = reviews.groupby('recipe_id')['rating'].mean()

# Определение количества рецептов, для которых отсутствуют отзывы
recipes_without_reviews = recipes[~recipes['id'].isin(reviews['recipe_id'])]

print("Средний рейтинг для каждого рецепта:")
print(average_rating_per_recipe.sort_index)

print("\nКоличество рецептов, для которых отсутствуют отзывы:", len(recipes_without_reviews))

Средний рейтинг для каждого рецепта:

TypeError: Series.sort_index() takes 1 positional argument but 2 were given

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [22]:
print(recipes['submitted'].dt.year.value_counts().sort_index())

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [36]:
# Объединение таблиц recipes и reviews по столбцу recipe_id
merged_data = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')

# Фильтрация, чтобы удалить рецепты без отзывов
filtered_data = merged_data[['id', 'name', 'user_id', 'rating']].dropna()

# Проверка полученной таблицы
print(filtered_data[:50])

print(filtered_data[filtered_data['id'] == 66966])

        id                                      name     user_id  rating
0    44123     George S At The Cove  Black Bean Soup      743566       5
1    44123     George S At The Cove  Black Bean Soup       76503       5
2    44123     George S At The Cove  Black Bean Soup       34206       5
3    67664        Healthy For Them  Yogurt Popsicles      494084       5
4    67664        Healthy For Them  Yogurt Popsicles      303445       5
5    67664        Healthy For Them  Yogurt Popsicles       32772       5
6    67664        Healthy For Them  Yogurt Popsicles      161653       5
7    67664        Healthy For Them  Yogurt Popsicles      124268       5
8    67664        Healthy For Them  Yogurt Popsicles     1585803       5
9    67664        Healthy For Them  Yogurt Popsicles      818740       5
10   67664        Healthy For Them  Yogurt Popsicles      176615       5
11   38798              I Can T Believe It S Spinach      125798       3
12   38798              I Can T Believe It S Spinach      110034       4
13   38798              I Can T Believe It S Spinach      487548       4
14   35173                      Italian  Gut Busters       44661       4
15   84797  Love Is In The Air  Beef Fondue   Sauces      123871       5
16   84797  Love Is In The Air  Beef Fondue   Sauces      509740       3
17   84797  Love Is In The Air  Beef Fondue   Sauces      110905       5
18   84797  Love Is In The Air  Beef Fondue   Sauces      560694       5
19   84797  Love Is In The Air  Beef Fondue   Sauces       11176       0
20   84797  Love Is In The Air  Beef Fondue   Sauces      257993       5
21   84797  Love Is In The Air  Beef Fondue   Sauces      198228       5
22   84797  Love Is In The Air  Beef Fondue   Sauces      128047       4
23   44045                  Mennonite  Corn Fritters       99872       5
24   44045                  Mennonite  Corn Fritters      124249       5
25   44045                  Mennonite  Corn Fritters       52073       5
26   44045                  Mennonite  Corn Fritters      189287       4
27   44045                  Mennonite  Corn Fritters      164890       5
28  107229                      Open Sesame  Noodles      133842       5
29   95926                Say What   Banana Sandwich  2000533197       5
30   95926                Say What   Banana Sandwich      106777       5
31   95926                Say What   Banana Sandwich  2002174000       1
32   95926                Say What   Banana Sandwich      302815       1
33   95926                Say What   Banana Sandwich       54271       5
34   95926                Say What   Banana Sandwich      292308       5
35   95926                Say What   Banana Sandwich      605574       0
36   95926                Say What   Banana Sandwich     2879123       5
37   95926                Say What   Banana Sandwich     2401954       5
38   95926                Say What   Banana Sandwich       29782       5
39   95926                Say What   Banana Sandwich     1612977       4
40   95926                Say What   Banana Sandwich     2210747       5
41   95926                Say What   Banana Sandwich      146637       5
42   95926                Say What   Banana Sandwich      844554       5
43   95926                Say What   Banana Sandwich      125808       5
44   95926                Say What   Banana Sandwich      104621       5
45   95926                Say What   Banana Sandwich  2000355338       5
46   95926                Say What   Banana Sandwich      139381       5
47   95926                Say What   Banana Sandwich     2834180       5
48   95926                Say What   Banana Sandwich      526666       5
49   95926                Say What   Banana Sandwich      286566       5
Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [65]:
review_counts = reviews.groupby('recipe_id').size().reset_index(name='review_count')

# Объединить таблицы recipes и review_counts
merged = pd.merge(recipes[['id', 'name']], review_counts, left_on='id', right_on='recipe_id', how='left')

# Заменить пропущенные значения нулями
merged['review_count'] = merged['review_count'].fillna(0)

# Оставить только нужные столбцы
result = merged[['id', 'name', 'review_count']]

print(result)

           id                                          name  review_count
0       44123         George S At The Cove  Black Bean Soup           3.0
1       67664            Healthy For Them  Yogurt Popsicles           8.0
2       38798                  I Can T Believe It S Spinach           3.0
3       35173                          Italian  Gut Busters           1.0
4       84797      Love Is In The Air  Beef Fondue   Sauces           8.0
...       ...                                           ...           ...
29995  267661  Zurie S Holey Rustic Olive And Cheddar Bread           4.0
29996  386977          Zwetschgenkuchen  Bavarian Plum Cake           2.0
29997  103312   Zwiebelkuchen   Southwest German Onion Cake           6.0
29998  486161                                   Zydeco Soup           6.0
29999  298512        Cookies By Design   Cookies On A Stick           1.0

[30000 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [51]:
# Объединение таблиц recipes и reviews по столбцу recipe_id
merged_data = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')

# Получение года создания рецепта
merged_data['год_создания'] = merged_data['submitted'].dt.year

# Рассчет среднего рейтинга для каждого года
average_rating_per_year = merged_data.groupby('год_создания')['rating'].mean()

# Определение года с наименьшим средним рейтингом
year_with_min_avg_rating = average_rating_per_year.idxmin()

print("Год с наименьшим средним рейтингом:", year_with_min_avg_rating, average_rating_per_year)

Год с наименьшим средним рейтингом: 2017 год_создания
1999    4.274895
2000    4.284585
2001    4.393945
2002    4.404645
2003    4.439152
2004    4.463778
2005    4.409687
2006    4.416310
2007    4.420073
2008    4.387416
2009    4.360447
2010    4.406279
2011    4.375850
2012    4.412736
2013    4.336508
2014    4.538235
2015    4.207317
2016    3.538462
2017    2.750000
2018    3.388889
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [55]:
sorted_recipes = recipes.sort_values(by='name_word_count', ascending=False)
print(sorted_recipes)
# Сохранение отсортированной таблицы в виде файла .csv
sorted_recipes.to_csv('sorted_recipes.csv', index=False)

                                                    name      id  minutes  \
26223  Subru Uncle S Whole Green Moong Dal I Ll Be Ma...   77188       95
28083  Tsr Version Of T G I  Friday S Black Bean Soup...  102274       75
26222  Subru Uncle S Toor Ki Dal Sindhi Style  Dad  M...   76908       65
27876  Top Secret Recipes Version Of  I H O P  Griddl...  113346       20
5734   Chicken Curry Or  Cat S Vomit On A Bed Of Magg...  294898       30
...                                                  ...     ...      ...
3253                                          Blackmoons  323195      430
4138                                         Bushwhacker  156521       10
2357                                            Basbousa   12957       60
15052                                          Josefinas  264859       20
4710                                            Caramels  143615       30

       contributor_id  submitted  n_steps  \
26223            6357 2003-11-21      NaN
28083           74652 2004-10-19      9.0
26222            6357 2003-11-18     29.0
27876          175727 2005-03-14      5.0
5734           802799 2008-03-28     11.0
...               ...        ...      ...
3253           415934 2008-09-04      5.0
4138           177392 2006-02-17      1.0
2357            18391 2001-10-20      NaN
15052          498271 2007-11-11      7.0
4710           212088 2005-11-02      NaN

                                             description  n_ingredients  \
26223  my dad and mom quite enjoy this lentil curry. ...           15.0
28083  from www.topsecretrecipes.com i got this copyc...           16.0
26222  this is the lentil curry that subru uncle(our ...           15.0
27876  this recipe is top secret recipes version of i...            9.0
5734   an old family recipe that's easy to make since...           12.0
...                                                  ...            ...
3253   my mom was a newlywed in the 1950s when she fo...            NaN
4138   this drink is an excellent after dinner drink ...            6.0
2357   this is a traditional middle eastern dessert. ...            NaN
15052  from the junior league of corpus christi tx, t...            NaN
4710   i've been making these at christmas time for y...            6.0

       description_length  name_word_count
26223                 343               15
28083                 436               14
26222                1087               14
27876                 129               14
5734                  144               13
...                   ...              ...
3253                  389                1
4138                  124                1
2357                   78                1
15052                  92                1
4710                  341                1

[30000 rows x 10 columns]

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [67]:
# Сохранение результатов в Excel файл
with pd.ExcelWriter('рецепты_с_оценками.xlsx') as writer:
    filtered_data.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    result.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3